.products__grid .products__item {
    margin: 0 40px 20px 9px;
    width: calc(42% - 18px);
}

.banner__details .banner__text {
    margin: 14px 0 24px 0;
    font-weight: 600;
    quotes: '«' '»';
}

.products__details.author .products__title.title {
    font-size: 14px;
}
.banner__grid .banner__item {
    width: 80%;
    padding: 14px;
    background: no-repeat url("../img/guitar.png");
    background-position: calc(100% + 40px) 0px;
    background-size: 500px 393px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 9px 18px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    transform: scale(1);
    transition: 0.5s;

}

@media only screen and (min-width: 1300px) {
    .banner__grid .banner__item:hover {
        transform: scale(1.05);
    }
}
.products__details {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.products__red.circle {
    position: absolute;
    top: 50px;
    right: 50px;
}

.banner__details {
    width: 32%;
    margin: 26px 10px;
    font-size: 12px;
    padding-left: 15px;
}

.products__preview {
    position: relative;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 72px;
    height: 72px;
    font-size: 0;
}
.products__circle {
    position: absolute;
}
.products__preview > img {
    border-radius: 50%;
    width: 72px;
    height: 72px;
}

.banner__button {
    background: no-repeat url("../img/add_track.svg");
    background-position: left 14px center;
    background-color: #6666cc;
    background-size: 30px 30px;
    border-radius: 15px;
    color: #ffffff;
    font-weight: bold;
    padding: 18px 26px 18px 56px;
    width: fit-content;
    white-space: nowrap;
    margin-top: 18px;
}

.banner__grid .banner__item .banner__title {
    font-size: 13px;
}

@media (max-width: 1100px) {
    .banner__grid .banner__item {
        width: calc(100% - 18px);
    }
}

@media (max-width: 1000px) {
    .banner__grid .banner__item {
        background-position: calc(100% + 140px) 80px;
    }
    .banner__details {
        padding: 0 0 120px;
        width: 80%;
    }
    .banner__details .banner__title {
        width: 60%;
    }
    .products__grid .products__item {
        background: #fff;
        padding: 14px;
    }
}

@media (max-width: 767px) {
    .products__grid .products__item {
        margin: 0 40px 18px 9px;
        width: calc(100% - 18px);
    }
    .banner__details {
        padding: 0 0 180px;
    }
    .banner__grid .banner__item {
        background-position: calc(100% + 140px) 120px;
    }
}

@media (max-width: 500px) {
    .banner__details {
        padding: 0 0 200px;
    }
    .banner__grid .banner__item {
        background-position: calc(100% + 140px) 180px;
    }
    .products__grid .products__item .products__title.button {
        font-size: 14px;
    }
}

.form-block.labels {
    text-align: left;
    margin-top: -50px;
    padding: 0 14px;
    color: #999;
}
.form-block.labels input {
    margin-bottom: 20px;
}

.form-block.img {
    text-align: center;
    margin-bottom: 20px;
}
.form-block.img img{
    width: 136px;
    height: 136px;
    border-radius: 50%;
}
